<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=devide-width, initial-scale=1.0" />
  <title>CineKo</title>
  <link rel="stylesheet" href="../static/css/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Staatliches&display=swap"
    rel="stylesheet" />
  <link rel="preload" href="../static/css/normalize.css" as="style" />
  <link href="../static/css/normalize.css" rel="stylesheet" />
  <link rel="preload" href="../static/css/style.css" as="style" />
  <link rel="icon" href="../static/img/logo2.png" type="image/x-icon" />
  <link rel="shortcut icon" href="../static/img/logo2.png" type="image/x-icon" />
</head>

<body>
  <nav class="nav-bg">
      <a href="/templates/index.html">CINEKO</a>
      <a class="selMenu" href="/templates/cartelera.html">CARTELERA</a>
      <a href="/templates/comidas.html">CONFITERIA</a>
      <a href="/templates/membresias.html">MEMBRESIAS</a>
      <a href="/templates/promociones.html">PROMOCIONES</a>
      <a href="/templates/ingresar.html"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-filled"
              width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#c2b284" fill="none"
              stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M12 2a5 5 0 1 1 -5 5l.005 -.217a5 5 0 0 1 4.995 -4.783z" stroke-width="0"
                  fill="currentColor" />
              <path d="M14 14a5 5 0 0 1 5 5v1a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-1a5 5 0 0 1 5 -5h4z"
                  stroke-width="0" fill="currentColor" />
          </svg>
          INGRESAR</a>
  </nav>
</body>

<main>
  <div class="image-cartelera">
    <div>
      <a href="/templates/peliculas/dune.html">
        <img src="/static/img/Cartelera/Poster_dune.jpg" alt="Dune" />
        <p class="titulo-pelicula">Dune</p>
      </a>
    </div>
    <div>
      <a href="/templates/peliculas/endGame.html">
        <img src="/static/img/Cartelera/Poster_endGame.jpg" alt="Avengers: Endgame" />
        <p class="titulo-pelicula">Avengers: Endgame</p>
      </a>
    </div>
    <div>
      <a href="/templates/peliculas/interstellar.html">
        <img src="/static/img/Cartelera/Poster_Interstellar.jpg" alt="Interstellar" />
        <p class="titulo-pelicula">Interstellar</p>
      </a>
    </div>
    <div>
      <a href="/templates/peliculas/laballena.html">
        <img src="/static/img/Cartelera/Poster_laBallena.jpg" alt="La Ballena" />
        <p class="titulo-pelicula">La Ballena</p>
      </a>
    </div>
    <div>
      <a href="/templates/peliculas/topgunmaverick.html">
        <img src="/static/img/Cartelera/Poster_topGunMaverick.jpeg" alt="Top Gun: Maverick" />
        <p class="titulo-pelicula">Top Gun: Maverick</p>
      </a>
    </div>
    <div>
      <a href="/templates/peliculas/Aquaman.html">
        <img src="/static/img/Cartelera/Poster_aquaman.jpg" alt="Aquaman" />
        <p class="titulo-pelicula">Aquaman</p>
      </a>
    </div>
    <div>
      <a href="/templates/peliculas/Avatar.html">
        <img src="/static/img/Cartelera/Poster_avatar.jpg" alt="Avatar: El Camino del Agua" />
        <p class="titulo-pelicula">Avatar: El Camino del Agua</p>
      </a>
    </div>
    <div>
      <a href="/templates/peliculas/barbie.html">
        <img src="/static/img/Cartelera/Poster_Barbie.jpg" alt="Barbie" />
        <p class="titulo-pelicula">Barbie</p>
      </a>
    </div>
    <div>
      <a href="/templates/peliculas/creed.html">
        <img src="/static/img/Cartelera/Poster_Creed3.jpg" alt="Creed III" />
        <p class="titulo-pelicula">Creed III</p>
      </a>
    </div>
    <div>
      <a href="/templates/peliculas/GotGVol3.html">
        <img src="/static/img/Cartelera/Poster_guardianesdelaGalaxiaVol3.jpg" alt="Guardianes de la Galaxia Vol.3" />
        <p class="titulo-pelicula">Guardianes de la Galaxia Vol.3</p>
      </a>
    </div>
    <div>
      <a href="/templates/peliculas/jhonwick.html">
        <img src="/static/img/Cartelera/Poster_jhonWick4.jpg" alt="Jhon Wick 4" />
        <p class="titulo-pelicula">John Wick 4</p>
      </a>
    </div>
    <div>
      <a href="/templates/peliculas/misionImposible.html">
        <img src="/static/img/Cartelera/Poster_MisonImposible.jpg" alt="Mision Imposible" />
        <p class="titulo-pelicula">Mision Imposible</p>
      </a>
    </div>
    <div>
      <a href="/templates/peliculas/oppenheimer.html">
        <img src="/static/img/Cartelera/Poster_oppenheimer.jpg" alt="Oppenheimer" />
        <p class="titulo-pelicula">Oppenheimer</p>
      </a>
    </div>
    <div>
      <a href="/templates/peliculas/FyF.html">
        <img src="/static/img/Cartelera/Poster_RyF.jpg" alt="Rapidos y Furiosos 10" />
        <p class="titulo-pelicula">Rapidos y Furiosos 10</p>
      </a>
    </div>
    <div>
      <a href="/templates/peliculas/superMarioBros.html">
        <img src="/static/img/Cartelera/Poster_SuperMarioBros.jpg" alt="Super Mario Bros" />
        <p class="titulo-pelicula">Super Mario Bros</p>
      </a>
    </div>
  </div>
</main>

<footer class="footer">
  <p>Copyright © 2024 CineKo Real. All Rights Reserved</p>
</footer>

</html>