<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=devide-width, initial-scale=1.0" />
    <title>CineKo</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Staatliches&display=swap"
        rel="stylesheet" />
    <link rel="preload" href="../static/css/normalize.css" as="style" />
    <link href="../static/css/normalize.css" rel="stylesheet" />
    <link rel="preload" href="../static/css/style.css" as="style" />
    <link rel="icon" href="../static/img/logo2.png" type="image/x-icon" />
    <link rel="shortcut icon" href="../static/img/logo2.png" type="image/x-icon" />
</head>


<body>
    <nav class="nav-bg">
        <a href="http://127.0.0.1:5500/templates/index.html">CINEKO</a>
        <a href="http://127.0.0.1:5500/templates/cartelera.html">CARTELERA</a>
        <a href="http://127.0.0.1:5500/templates/comidas.html">CONFITERIA</a>
        <a href="http://127.0.0.1:5500/templates/membresias.html">MEMBRESIAS</a>
        <a href="http://127.0.0.1:5500/templates/promociones.html">PROMOCIONES</a>
        <a href="http://127.0.0.1:5500/templates/ingresar.html"><svg xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-user-filled" width="20" height="20" viewBox="0 0 24 24"
                stroke-width="1.5" stroke="#c2b284" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M12 2a5 5 0 1 1 -5 5l.005 -.217a5 5 0 0 1 4.995 -4.783z" stroke-width="0"
                    fill="currentColor" />
                <path d="M14 14a5 5 0 0 1 5 5v1a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-1a5 5 0 0 1 5 -5h4z"
                    stroke-width="0" fill="currentColor" />
            </svg>
            INGRESAR</a>
    </nav>
</body>
<section class="imag-fondo">
    <div class="contenedor-imag">
        <div class="contenido-imag"> <!-- Contenedor para el título y los iconos -->
            <h3>Redes Sociales</h3>
            <div> <!-- Contenedor para los iconos -->
                <a
                    href="https://wa.me/573124469118" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-whatsapp"
                        width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#00b341" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9" />
                        <path
                            d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1" />
                    </svg>
                </a>
                <a href="https://www.instagram.com/" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram"
                        width="32" height="32" viewBox="0 0 24 24" stroke-width="2" stroke="#a7299a" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" />
                        <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                        <path d="M16.5 7.5l0 .01" />
                    </svg>
                </a>
                <a href="https://www.facebook.com/CinekoRealArauca/" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-facebook"
                        width="32" height="32" viewBox="0 0 24 24" stroke-width="2" stroke="#0866ff" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>

<main>
    <div class="image-container">
        <div>
            <a href="http://127.0.0.1:5500/templates/peliculas/dune.html">
                <img src="/static/img/Cartelera/Poster_dune.jpg" alt="Dune">
                <p class="titulo-pelicula">Dune</p>
            </a>
        </div>
        <div>
            <a href="http://127.0.0.1:5500/templates/peliculas/endGame.html">
                <img src="/static/img/Cartelera/Poster_endGame.jpg" alt="Avengers: Endgame">
                <p class="titulo-pelicula">Avengers: Endgame</p>
            </a>
        </div>
        <div>
            <a href="http://127.0.0.1:5500/templates/peliculas/interstellar.html">
                <img src="/static/img/Cartelera/Poster_Interstellar.jpg" alt="Interstellar">
                <p class="titulo-pelicula">Interstellar</p>
            </a>
        </div>
        <div>
            <a href="http://127.0.0.1:5500/templates/peliculas/laballena.html">
                <img src="/static/img/Cartelera/Poster_laBallena.jpg" alt="La Ballena">
                <p class="titulo-pelicula">La Ballena</p>
            </a>
        </div>
        <div>
            <a href="http://127.0.0.1:5500/templates/peliculas/topgunmaverick.html">
                <img src="/static/img/Cartelera/Poster_topGunMaverick.jpeg" alt="Top Gun: Maverick">
                <p class="titulo-pelicula">Top Gun: Maverick</p>
            </a>
        </div>
    </div>
</main>

<footer class="footer">
    <p>Copyright © 2024 CineKo Real. All Rights Reserved</p>
</footer>