<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CineKo</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Staatliches&display=swap"
        rel="stylesheet" />
    <link rel="preload" href="../static/css/normalize.css" as="style" />
    <link href="../static/css/normalize.css" rel="stylesheet" />
    <link rel="preload" href="../static/css/style.css" as="style" />
    <link rel="icon" href="../static/img/logo2.png" type="image/x-icon" />
    <link rel="shortcut icon" href="../static/img/logo2.png" type="image/x-icon" />
</head>

<body>
    <nav class="nav-bg">
        <a href="http://127.0.0.1:5500/templates/index.html">CINEKO</a>
        <a href="http://127.0.0.1:5500/templates/cartelera.html">CARTELERA</a>
        <a href="http://127.0.0.1:5500/templates/comidas.html">CONFITERIA</a>
        <a href="http://127.0.0.1:5500/templates/membresias.html">MEMBRESIAS</a>
        <a href="http://127.0.0.1:5500/templates/promociones.html">PROMOCIONES</a>
        <a href="http://127.0.0.1:5500/templates/ingresar.html"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-filled"
                width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#c2b284" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M12 2a5 5 0 1 1 -5 5l.005 -.217a5 5 0 0 1 4.995 -4.783z" stroke-width="0"
                    fill="currentColor" />
                <path d="M14 14a5 5 0 0 1 5 5v1a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-1a5 5 0 0 1 5 -5h4z"
                    stroke-width="0" fill="currentColor" />
            </svg>
            INGRESAR</a>
    </nav>

    <main class="imgIngresar">
        <div class="Ingresar">
            <form class="formulario" action="http://127.0.0.1:5000/login" method="POST" onsubmit="return validateForm()">
                <fieldset>
                    <legend>Ingresar</legend>
                    <div class="contenedor-campos">
                        <div class="campos">
                            <label for="correo">Correo</label>
                            <input id="correo" name="correo" class="input-text" type="email" placeholder="Tu Correo" oninput="validateCorreo()" />
                            <span id="correo-error" class="error-message"></span>
                        </div>
                        <div class="campos">
                            <label for="contrasena">Contraseña</label>
                            <input id="contrasena" name="contrasena" class="input-text" type="password" placeholder="Tu Contraseña" oninput="validateContrasena()" />
                            <span id="contrasena-error" class="error-message"></span>
                        </div>
                        <div class="rContraseña">
                            <a class="contraseña-link" href="oContrasena.html">¿Olvidaste la contraseña?</a>
                        </div>
                    </div>
                    <div class="InicioSesion">
                        <input class="boton enviar" type="submit" value="Ingresar" />
                    </div>

                    <div class="cuentaNueva">
                        <a class="registro" href="http://127.0.0.1:5500/templates/registrarse.html">¿No tienes
                            cuenta?</a>
                        <a class="registro" href="http://127.0.0.1:5500/templates/registrarse.html">Registrarse</a>
                    </div>

                </fieldset>
            </form>
        </div>
        <footer class="footer">
            <p>Copyright © 2024 CineKo Real. All Rights Reserved</p>
        </footer>
    </main>

    <script>
        function validateCorreo() {
            const correo = document.getElementById('correo').value.trim();
            const correoError = document.getElementById('correo-error');
            correoError.textContent = '';
            const correoRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

            if (!correo) {
                correoError.textContent = 'El correo es obligatorio.';
                return false;
            }

            if (!correoRegex.test(correo)) {
                correoError.textContent = 'El formato del correo electrónico no es válido.';
                return false;
            }

            return true;
        }

        function validateContrasena() {
            const contrasena = document.getElementById('contrasena').value.trim();
            const contrasenaError = document.getElementById('contrasena-error');
            contrasenaError.textContent = '';

            if (!contrasena) {
                contrasenaError.textContent = 'La contraseña es obligatoria.';
                return false;
            }

            if (contrasena.length < 8) {
                contrasenaError.textContent = 'La contraseña debe tener al menos 8 caracteres.';
                return false;
            }

            return true;
        }

        function validateForm() {
            const isCorreoValid = validateCorreo();
            const isContrasenaValid = validateContrasena();
            return isCorreoValid && isContrasenaValid;
        }
    </script>
</body>
</html>
